/* Your Website Styles */


  
h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 3em;
  text-align: center;
  
}
 h1:hover {
  background:  #66FFCC;
  font-size: 5em;
  color: white;
}


}

.main-header {
	height: 300px;
	width: 1000px;
	color:orange;
	background-color: white;
}
.feature,p{
	
	width: 60%;
	padding: 10%;
		}

body {
   width: 800px;
   margin: 0 auto;
  font-size: 1em%;

}


div{
  width:100%;
  height: 100%;
  float: center;
  
}
	 

 



ul {
	  font-size: 1em;
	  line-height: 1.5em;
	  
	  width: 20%;
	  padding: 10%;
	  text-align: top;

	  
}
.title{
	font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
  width: 60%;
	
  

}
	 








nav li {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  text-align: center;
  padding-left: 10%;
  display: inline;
  float: center;
  list-style: none;
  margin: 0% 12% 0 5%;
  text-align: center;
  
}


nav a:link, 
nav a:visited {
  color: #333;
  padding: 1em;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:hover, 
nav a:active {
  color: #FF6600;
  text-transform: -3px;
  letter-spacing: 1em;
  font-size: .5em;
}



section img+p {
	display: inline;
	margin: 50% ;

}




























/* mQ*/

@media screen and (max-width:1260px) and (min-width: 1200px) {
  body{
    
  }
}

/* =========
destop 
========= */

@media screen and (max-width: 1000px){
  body{
    
  }
}

/* =========
tablet
========= */

@media screen and (max-width: 800px){
  body{
   
      }
p{
    font-size: 1em;
    width: 40%;
  }

  nav  {
  	margin: -2%;
    float: center;
    text-align: center;
    padding: 10%
  }
  h1{
  	float: center;

  }
  
  
  
  
}


/* =========
mobile
========= */
@media screen and (max-width: 480px){
  body{
   
  }

 










}


